ul {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0 1rem 1rem 0;
  width: 70%;
}
ul li.own {
  align-self: flex-end;
  text-align: right;
  border-radius: 1rem 0 0 1rem;
}

.container-resto{
  position: relative;
  text-align: center;
  color: white;
}

.title-resto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
